<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div>
            <h1>Welcome to characters page</h1>
            <p>View the most popular characters from all over the world!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/characters/new">Add New Characters</a>
                <a class="btn btn-primary btn-large" href="/">BACK</a>
            </p>
        </div>
    </header>

    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% characters.forEach(function(c){ %>
            <div class="col-md-6 col-sm-10">
                <div class="thumbnail">
                    <img src="<%= c.image %>">
                    <div class="caption"><%= c.name %></div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include partials/footer %>