<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div>
            <h1>Home page</h1>
            <p>Welcome to YelpCamp :]</p>
            <p>
                <a class="btn btn-primary btn-large" href="/characters">View All Characters</a>
                <a class="btn btn-primary btn-large" href="/characters/new">Add New Characters</a>
            </p>
        </div>
    </header>
</div>
<% include partials/footer %>