<% include partials/header %>

<h1>Home Page</h1>

<p>Welcome to YelpCame :)</p>

<a href="/characters">View All Characters</a>
<a href="/characters/new">Add New Characters</a>

<% include partials/footer %>