<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div>
            <h1>Add a New Character</h1>
            <p>Welcome to YelpCamp :]</p>
            <p>
                <a class="btn btn-primary btn-large" href="/characters">View All Characters</a>
                <a class="btn btn-primary btn-large" href="/">Back</a>
            </p>
        </div>
    </header>
</div>

<form action="/characters" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>SUBMIT</button>
</form>

<% include partials/footer %>