<% include partials/header %>

<h1>You fall in love with "<%= thingVar %>"</h1>

<% if(thingVar.toLowerCase() == "rusty") { %>
    <p>Oh that's also my name :)</p>
<% } %>

<p>This is the love.ejs</p>

<% include partials/footer %>