<h1>I have many friends :]</h1>

<ul>
    <% friends.forEach(function(f) { %>
        <li><%= f %></li>
    <% }); %>
</ul>

<form action="/addfriends" method="POST">
    <input type="text" name="newfriend" placeholder="name">
    <button>Add</button>
</form>